{% extends 'template/menu.html' %}
{% load static %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2">
            <a class="btn btn-info mt-2 mb-2" href="{% url 'baixarpdf' contexto.pessoa.id contexto.ano %}">Baixar</a>
        </div>
    </div>
    <div class="row">
        
        <div class="col-1">
            <img src="{% static 'app_ficha_cem/brasao_orlandia.png' %}" width="50" />
        </div>
        <div class="col-10">
           NOME DA ESCOLA
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-left">
            <h1>Ficha Frequência {{contexto.ano}} - ON</h1>
        </div>
        <div class="col-3">
            <strong>Nome: </strong><label>{{contexto.nome}}</label>
        </div>
        <div class="col-2">
            <strong>RM: </strong><label>{{contexto.pessoa.id}}</label>
        </div>
        <div class="col-2">
            <strong>Cargo: </strong><label>{{ contexto.des_cargo }}</label>
        </div>
        <div class="col-3">
            <strong>Disciplina: </strong><label>{{ contexto.disciplina }}</label>
        </div>
    </div>
    <div class="row">

        <div class="col-2">
            <strong>CPF: </strong><label>{{ contexto.pessoa.cpf }}</label>
        </div>
        <div class="col-3">
            <strong>Admissão: </strong><label>{{contexto.pessoa.admissao}}</label>
        </div>
        <div class="col-3">
            {% if contexto.pessoa.efetivo == 'Sim' %}
            <strong>Efetivo: </strong><label>Sim</label>
            {% else %}
            <strong>Efetivo: </strong><label>Não</label>
            {% endif %}

        </div>


    </div>
    <div class="col-12 ">
        <div class="row">

            <table class="table table-sm">

                <tbody>
                    <tr>
                        <td>
                            Meses/Dias
                        </td>
                        {% for dia in contexto.dias %}
                        <td>
                            {{dia}}
                        </td>
                        {% endfor %}
                    </tr>

                    {% for mes,eventos in contexto.meses.items %}
                    <tr>
                        <td>
                            {{mes}}
                        </td>
                        {% for evento in eventos %}
                        {% if evento != 'C' and evento != ' ' %}
                        <td class="bg-primary">

                            <strong>{{evento}}</strong>

                        </td>
                        {% else %}
                        <td color="green">

                            {{evento}}
                        </td>
                        
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            <table class="table table-sm table-hover">

                <tr>
                    <th class="text-center" colspan="3">Tempos </th>
                </tr>
                <tr>
                    <th class="text-center" colspan="3">Atribuição </th>
                </tr>
                <tr>
                    <th>Função</th>

                    <th>Cargo</th>

                    <th>U.E.</th>

                </tr>

                <tr>
                    <td>{{contexto.funcao_at}}</td>
                    <td>{{contexto.cargo_at}}</td>
                    <td>{{contexto.ue_at}}</td>
                </tr>
                <tr>
                    <th class="text-center" colspan="3">Ano Anterior </th>
                </tr>
                <tr>
                    <th>Função</th>

                    <th>Cargo</th>

                    <th>U.E.</th>

                </tr>

                <tr>
                    <td>{{contexto.funcao_a}}</td>
                    <td>{{contexto.cargo_a}}</td>
                    <td>{{contexto.ue_a}}</td>
                </tr>
                <tr>
                    <th class="text-center" colspan="3">Ano Atual</th>
                </tr>
                <tr>
                    <th>Função</th>

                    <th>Cargo</th>

                    <th>U.E.</th>

                </tr>

                <tr>
                    <td>{{contexto.funcao}}</td>
                    <td>{{contexto.cargo}}</td>
                    <td>{{contexto.ue}}</td>
                </tr>

            </table>

            {% if contexto.pontuacao %}
            <a href="{% url 'encerrarano' contexto.pessoa.id contexto.ano contexto.status  %}">Encerrar Ano</a>
            {% endif %}

        </div>
    </div>
    <div class="col-6 mt-2">
        <div class="row">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Sigla</th>
                        <th>Descrição</th>
                        <th>QTD</th>
                    </tr>

                </thead>
                <tbody>
                    {% for sigla, descricao in contexto.tp_faltas.items %}
                    <tr>

                        <td>
                            {{ sigla }}
                        </td>
                        {% for i in descricao %}
                        <td>
                            {{i}}
                        </td>
                        {% endfor %}


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    $(document).ready(function () {
        let matricula = localStorage.getItem("matricula");
        let nome = localStorage.getItem("nome");
        $(".disponivel").css('display', 'none');
        if (matricula && nome) {
            $("#nomepes").append("<button class='btn btn-dark mr-1' id='matpes'></button>");

            $("#matpes").text(matricula);
            $("#matpes").val(matricula);

            $("#nomepes").append("|" + nome + "|");

            console.log("Dados recuperados após refresh:", matricula, nome);
        } else {
            console.log("Nenhum dado encontrado no localStorage.");
        }
    });
</script>
{% endblock script %}