{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% block css %}

    <style>
        .centralizado {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1050;
            /* Sobrepõe outros elementos */
            min-width: 300px;
            /* Tamanho mínimo */
            max-width: 600px;
            /* Tamanho máximo */
            text-align: center;
            /* Texto centralizado */
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            /* Sombra para destacar */
        }


        #mensagens {
            position: fixed;
            top: 50%;
            /* meio da tela verticalmente */
            left: 50%;
            /* meio da tela horizontalmente */
            transform: translate(-50%, -50%);
            z-index: 1050;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            /* espaço entre as mensagens */
            width: 400px;
            /* largura fixa para as mensagens */
        }

        #mensagens .alert {
            width: 100%;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        }
    </style>
    {% endblock css %}
    <title>Base</title>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">SisColab</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <strong>
                        <a class="nav-link dropdown-toggle text-warning bg-dark rounded" href="#" id="nomepes"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>
                        <!--
                        <div class="dropdown-menu bg-info" aria-labelledby="nomepes" id="subpes">
                            <a class="dropdown-item bg-info text-center">

                                <button class='btn btn-info lancarfalta m-1'><span class="material-icons">
                                        alarm_add
                                    </span> Lançar Falta</button>


                            </a>

                            <a class="dropdown-item bg-info text-center">

                                <button class='btn btn-info verfichacem m-1'><span class="material-icons">
                                        description
                                    </span>Ver Ficha Frequência</button>


                            </a>

                            <a class="dropdown-item bg-info text-center">

                                <button class='btn btn-info lancarpontuacao m-1'><span class="material-icons">
                                        add
                                    </span>Lançar Pontuação</button></td>


                            </a>

                            <a class="dropdown-item bg-info text-center">

                                <button class='btn btn-info atualizarpessoa m-1'><span class="material-icons">
                                        autorenew
                                    </span>Atualizar Cadastro</button>


                            </a>

                            <a class="dropdown-item bg-info text-center">

                                <button class='btn btn-info limparselecao m-1'><span class="material-icons">
                                        cleaning_services
                                    </span>Limpar Seleção</button>


                            </a>

                        </div>
                        -->
                    </strong>
                </li>

                <li class="nav-item disponivel">
                    <a class="nav-link {% if request.resolver_match.url_name == 'listarcargos' or request.resolver_match.url_name == 'atualizarcargos' %}active{% endif %}"
                        href="{% url 'listarcargos' %}">Cargos <span class="material-icons">
                            badge
                        </span></a>

                </li>

                <li class="nav-item disponivel">
                    <a class="nav-link {% if request.resolver_match.url_name == 'listarfaltas' or request.resolver_match.url_name == 'atualizarfaltas' %}active{% endif %}"
                        href="{% url 'listarfaltas' %}">Faltas <span class="material-icons">
                            book
                        </span></a>
                </li>

                <li class="nav-item dropdown disponivel">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'cadastrarpessoas' or request.resolver_match.url_name == 'telapesquisarpessoas' %}active{% endif %}"
                        href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Pessoas <span class="material-icons">
                            person_add
                        </span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'cadastrarpessoas' %}">Cadastrar</a>
                        <a class="dropdown-item " href="{% url 'telapesquisarpessoas' %}">Pesquisar</a>
                    </div>
                </li>

                <li class="nav-item disponivel">
                    <a class="nav-link {% if request.resolver_match.url_name == 'eventocoletivo' %} active {% endif %}"
                        href="{% url 'eventocoletivo' %}">Coletivo <span class="material-icons">
                            groups
                        </span></a>
                </li>


                <li class="nav-item dropdown disponivel">
                    <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'relatorio_faltas_geral' or request.resolver_match.url_name == 'relatorio_faltas_descritivo' %}active{% endif %}"
                        href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Filtros <span class="material-icons">
                            <i class="fa fa-filter" aria-hidden="true"></i>

                        </span></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'relatorio_faltas_geral' %}">Faltas</a>
                        <a class="dropdown-item " href="{% url 'relatorio_faltas_descritivo' %}">Descritivo</a>
                    </div>
                </li>
                <!--
                <li class="nav-item disponivel">
                    <a class="nav-link {% if request.resolver_match.url_name == 'relatorio_faltas_geral' %} active {% endif %}"
                        href="{% url 'relatorio_faltas_geral' %}">Filtros <span class="material-icons">
                                                    <i class="fa fa-filter" aria-hidden="true"></i>

                        </span></a>
                </li>
            -->
                <li class="nav-item">

                    <button class='btn btn-info lancarfalta m-1'><span class="material-icons">
                            alarm_add
                        </span></button>


                </li>

                <li class="nav-item">

                    <button class='btn btn-info verfichacem m-1'><span class="material-icons">
                            description
                        </span></button>


                </li>

                <li class="nav-item">

                    <button class='btn btn-info lancarpontuacao m-1'><span class="material-icons">
                            add
                        </span></button></td>


                </li>

                <li class="nav-item">

                    <button class='btn btn-info atualizarpessoa m-1'><span class="material-icons">
                            autorenew
                        </span></button>


                </li>

                <li class="nav-item">

                    <button class='btn btn-info filtrarpessoa m-1'><span class="material-icons">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </span></button>


                </li>

                <li class="nav-item">

                    <button class='btn btn-danger limparselecao m-1'><span class="material-icons">
                            cleaning_services
                        </span></button>


                </li>



                {% for ano in contexto.anos %}
                <li class="nav-item">
                    <a class="nav-link {% if ano|slugify == request.resolver_match.kwargs.ano|slugify %} active {% endif %}"
                        href="{% url 'ficha' contexto.pessoa.id ano %}">
                        {{ ano }}
                    </a>
                </li>
                {% endfor %}

    </nav>
    {% if messages %}
    <div id="mensagens" role="alert" aria-live="assertive" aria-atomic="true">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar" title="Fechar alerta">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    

    <div class="container mt-5">
        <br>

        {% block content %}

        {% endblock content %}
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $(".alert").fadeIn(200).delay(900).fadeOut(3000);

            let nome = localStorage.getItem("nome");
            let matricula = localStorage.getItem("matricula")?.trim(); // Corrigido

            if (nome && matricula) {

                $(".disponivel").css("display", "none");
                $("#nomepes").append("<button class='btn btn-dark mr-1' id='matpes'></button>");

                $("#matpes").text(matricula);
                $("#matpes").val(matricula);

                $("#nomepes").append("|" + nome + "|");

                console.log("Dados recuperados após refresh:", matricula, nome);

                // Garante que os eventos sejam vinculados corretamente
                $(".lancarpontuacao").off().click(function () {
                    window.location.href = `/fichacem/pessoas/${matricula}/pontuacoes`;
                });

                $(".lancarfalta").off().click(function () {
                    window.location.href = `/fichacem/pessoas/${matricula}/faltas`;
                });

                $(".verfichacem").off().click(function () {
                    window.location.href = `/fichacem/pessoas/${matricula}/fichas`;
                });

                $(".atualizarpessoa").off().click(function () {
                    window.location.href = `/fichacem/pessoas/atualizarpessoa/${matricula}`;
                });

                $(".filtrarpessoa").off().click(function () {
                    window.location.href = `/fichacem/relatorio-faltas/${matricula}`;
                });

                $(".limparselecao").off().click(function () {
                    $(".disponivel").css("display", "block");
                    $(".lancarpontuacao").css("display", "none");
                    $(".lancarfalta").css("display", "none");
                    $(".verfichacem").css("display", "none");
                    $(".atualizarpessoa").css("display", "none");
                    $(".filtrarpessoa").css("display", "none");

                    $(".limparselecao").css("display", "none");

                    $("#nomepes").css("display", "none");

                    localStorage.removeItem("nome");
                    localStorage.removeItem("matricula");
                    window.location.href = '/fichacem/pessoas/telapesquisar';

                });

            }
            else {
                $(".lancarpontuacao").css("display", "none");
                $(".lancarfalta").css("display", "none");
                $(".verfichacem").css("display", "none");
                $(".atualizarpessoa").css("display", "none");
                $(".limparselecao").css("display", "none");
                $(".filtrarpessoa").css("display", "none");

                $("#nomepes").css("display", "none");

            }


        });



    </script>

    {% block script %}

    {% endblock script %}



</body>

</html>