<form id="atualizarClasse" method="POST">
    {% csrf_token %}
    <input type="hidden" name="classe_id" id="codClasse" value="{{ classe.id }}">
    <div class='row'>
        <div class='col form-group'>
            <label for='serie'>Série</label>
            {{form.serie}}
        </div>
        <div class='col form-group'>
            <label for='turma'>Turma</label>
            {{form.turma}}
        </div>
        <div class='col form-group'>
            <label for='periodo'>Período</label>
            {{form.periodo}}
        </div>
    </div>
</form>