<div class="modal fade" id="visualizarClasseModal" tabindex="-1" aria-labelledby="visualizarModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="visualizarModalLabel">
          Visualização da Classe
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="alunosClasse">
        </div>
      </div>
      <div class="modal-footer mt-2"></div>
    </div>
  </div>
</div>