<div class="modal fade" id="atualizarModal" tabindex="-1" aria-labelledby="atualizarModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="atualizarModalLabel">
          Deseja alterar essa classe?
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="dadosClasse" class="row">
          <!-- Dados do Registro Aqui -->
        </div>
      </div>
      <div class="modal-footer mt-2">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button id="simAtualizar" type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Atualizar
        </button>
        <button id="simDeletar" type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Deletar
        </button>
      </div>
    </div>
  </div>
</div>