<div class="row mt-3">
    <div class="col-12">
        <h5 class='bg-body-secondary d-flex rounded-5 justify-content-center p-2'><strong>{c.serie}{c.turma} -
                {c.periodo} </strong></h5>

        <table id="tabelaAlunos" class="table table-hover table-responsive">
            <thead>
                <th>Nº</th>
                <th>Nome do Aluno</th>
            </thead>
            <tbody>
                {% %}
                <tr>
                    <td>1</td>
                    <td>RAFAEL P</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>