{% extends 'rh/menu.html'%}


{% block content %}

<label>{{ nome }}</label>


<div class="container mt-2 d-flex justify-content-center mb-2">
    <div class="col-md-10 bg-light p-4 rounded shadow">
        <form method="POST" class="was-validated mb-2" style="background-color: #f8f9fa;">
            {% csrf_token %}
            {{ form.pessoa }}
            <div class="container mt-2">
                <div class="row justify-content-center ">
                    <!-- Título do Formulário -->
                    <div class="col-md-8 text-center mb-4">
                        <h3>Lançamento de Falta Coletivo</h3>
                        <p>Preencha os campos abaixo para registrar a falta.</p>
                    </div>
                </div>

                <div class="row align-items-end">

                    <div class="col-3">
                        {{ form.data.label_tag }}

                        {{ form.data }}
                    </div>

                    <div class="col-5">
                        {{ form.falta.label_tag }}

                        {{ form.falta }}
                    </div>

                    <div class="col-2">
                        {{ form.qtd_dias.label_tag }}

                        {{ form.qtd_dias }}
                    </div>

                    <div class="col-2">
                        <label class="form-label invisible">Ação</label>
                        <button type="submit" class="btn btn-outline-dark">
                            Gravar
                        </button>
                    </div>

                </div>


            </div>
            <div id="selecao_cargos">

                <!-- PROFESSORES -->
                <div class="custom-control custom-checkbox mb-3 mt-3">
                    <input type="checkbox" name="grupo_professores" class="custom-control-input" id="grupo_professores">
                    <label class="custom-control-label" for="grupo_professores">
                        PROFESSORES
                    </label>
                </div>

                <hr>

                <!-- OUTROS CARGOS -->
                {% for cargo in cargos %}
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="cargos" class="custom-control-input" value="{{ cargo.id }}"
                        id="cargo_{{ cargo.id }}">
                    <label class="custom-control-label" for="cargo_{{ cargo.id }}">
                        {{ cargo.cargo }}
                    </label>
                </div>
                {% endfor %}

            </div>


        </form>
    </div>
</div>


<script>
    

        let falta = document.getElementById("id_falta");
        let texto = "";
        falta.addEventListener("change", function () {
            texto = falta.options[falta.selectedIndex].text;
            if (texto === "NOJO") {
                document.getElementById("id_qtd_dias").value = 8;
                // document.getElementById("id_qtd_dias").disabled=true;
            }
            else if (texto === "PATERNIDADE") {
                document.getElementById("id_qtd_dias").value = 5;
                // document.getElementById("id_qtd_dias").disabled=true;
            }
            else if (texto === "LICENÇA PRÊMIO") {
                document.getElementById("id_qtd_dias").value = 90;
                // document.getElementById("id_qtd_dias").disabled=true;
            }
            else if (texto === "FÉRIAS") {
                document.getElementById("id_qtd_dias").value = 30;
                // document.getElementById("id_qtd_dias").disabled=true;
            }
            else {
                document.getElementById("id_qtd_dias").value = 1;
                // document.getElementById("id_qtd_dias").disabled=false;

            }
        });

  


</script>
{% endblock content %}