<div class="modal fade" id="resolucaoDuplicidadeModal" tabindex="-1" aria-labelledby="resolucaoDuplicidadeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resolucaoDuplicidadeModalLabel">
          Deseja Cancelar este Registro?
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="identificador" class="row">
          <div class="col-12">
            <p class="text-white bg-dark"> RM: <span id="registroAluno"> </span> </p>
            <p class="text-white bg-dark"> Nome: <span id="nomeAluno"> </span> </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Não
          </button>
          <button id="simCancelar" type="button" class="btn btn-primary" data-bs-dismiss="modal">
            Sim
          </button>
        </div>
      </div>
    </div>
  </div>
</div>