<div class="modal fade" id="relatorioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Geração do Relatório</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <input type="radio" name="oprelatorio" id="rmrelatorio" />
            <label for="rmrelatorio"> Registro de Matrícula </label>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input type="number" name="rmi" maxlength="150" class="form-control" placeholder="RM Inicial" required=""
              id="id_rmi" min="1" />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="number" name="rmf" maxlength="150" class="form-control" placeholder="RM Final" required=""
              id="id_rmf" min="1" />
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <input type="radio" name="oprelatorio" id="telrelatorio" />
            <label for="telrelatorio"> Lista Telefônica Turma </label>
          </div>
          <div class="col-6">
            <input type="radio" name="oprelatorio" id="persorelatorio" />
            <label for="persorelatorio"> Personalizável Turma </label>
          </div>
        </div>
      </div>

      <div class="row mb-2 d-flex justify-content-center">
        <div class="col-8">
          <label for="classes"> Turmas: </label>

          <select type="text" id="classes" placeholder="Classes" class="form-control formulario"
            aria-describedby="basic-addon1"></select>
        </div>
      </div>

      <div id="personalizavel" hidden>
        <div class="row mb-2 d-flex justify-content-center">
          <div class="col-10">
            <input type="text" class="form-control" id="titulo" title="Título do Relatório"
              placeholder="Título do Relatório" />
          </div>
        </div>

        <div class="row mb-2 d-flex justify-content-center">
          <div class="col-10">
            <input type="text" class="form-control" id="colunas"
              title="Coloque o nome das colunas separados por vírgulas"
              placeholder="Nome da Coluna 1, Nome da Coluna 2..." />
          </div>
        </div>

        <div class="row mb-2 d-flex justify-content-center">
          <div class="col-10">
            <input type="text" class="form-control" id="tamanho" title="Coloque o tamanho das colunas"
              placeholder="Tamanho 1, Tamanho 2..." />
          </div>
        </div>

        <div class="row mb-2 d-flex justify-content-center">
          <div class="col-8">
            <label for="pagina" id="lblOrientacao">
              Orientação da Página:
            </label>

            <select type="text" id="pagina" placeholder="Página" class="form-control formulario"
              aria-describedby="basic-addon1">
              <option value="r">Retrato</option>
              <option value="p">Paisagem</option>
            </select>
          </div>
        </div>

        <div class="row mb-2 d-flex justify-content-center">
          <div class="col-2">
            <label for="repeticao" id="lblRepeticao">
              Repetição do Aluno:
            </label>
            <input type="number" class="form-control" id="repeticao" title="Repetição do Nome do Aluno" placeholder=""
              min="1" value="2" />
          </div>
          <div class="col-2">
            <label for="repeticao" id="lblTamanhoFonte">
              Tamanho da fonte:
            </label>
            <input type="number" class="form-control" id="tamanho_fonte" title="Tamanho da Fonte" min="5" max="15"
              value="12" placeholder="" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Fechar
        </button>
        <button id="baixarpdf" type="button" class="btn btn-primary">
          Baixar PDF
        </button>
      </div>
    </div>
  </div>
</div>