{% extends 'rh/menu.html' %}



{% block content %}

<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-8 bg-light p-4 rounded shadow">
        <h2 class="text-center mb-4">Cadastro de Funcionário</h2>

        <form method="POST" class="was-validated">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3 {% if request.resolver_match.url_name == 'atualizarpessoa' %} {% endif %}">
                        {{ form.id.label_tag}}
                        {{ form.id}}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form.nome.label_tag}}

                        {{ form.nome}}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        {{ form.cpf.label_tag}}

                        {{ form.cpf}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.dt_nasc.label_tag}}

                        {{ form.dt_nasc}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.admissao.label_tag}}

                        {{ form.admissao}}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        {{ form.saida.label_tag}}

                        {{ form.saida}}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        {{form.cargo.label_tag}}
                        {{ form.cargo}}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-3">
                        {{ form.efetivo.label_tag}}

                        {{ form.efetivo}}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-3">
                        {{ form.ativo.label_tag}}

                        {{ form.ativo}}
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-3">
                        {{ form.func_publico.label_tag }}

                        {{ form.func_publico }}
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <button class="btn btn-outline-dark btn-lg">Gravar</button>
            </div>
        </form>
    </div>
</div>


{% endblock content %}


{% block script %}

<script>
    $(document).ready(function () {
        // alert($("#id_nome").val());
        // alert($("#id_id").val());
        //localStorage.setItem("nome",);
        //localStorage.setItem("matricula",);


    });


</script>


{% endblock script %}