{% extends 'rh/menu.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" class="was-validated">
    {% csrf_token %}
    {{ form|crispy }}

    <div clas="form-group">
        <button class="btn btn-outline-dark">Gravar</button>
    </div>

</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Sigla</th>
            <th scope="col">Descrição</th>
            <TH SCOPE="col" class="text-center">Atualizar</TH>

        </tr>
    </thead>
    <tbody>
        {% for falta in faltas %}
        <tr>
            <td>{{falta.tipo}}</td>
            <td>{{falta.descricao}}</td>
            <td class="text-center"><a class="btn btn-info" href="{% url 'atualizarfaltas' falta.id %}"><span class="material-icons">
                        autorenew
                    </span></a></td>
        </tr>
        {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock content %}


