{% load static %}

<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui" />


  <!-- Bootstrap CSS -->
  <link href="{% static 'aluno/css/bootstrap.min.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'aluno/css/bootstrap-icons.css' %}" />


  <script src="{% static 'aluno/js/jquery.min.js' %}"></script>
  <script src="{% static 'aluno/js/popper.min.js' %}"></script>

  <script src="{% static 'aluno/js/bootstrap.min.js' %}"></script>

 {% block css_head_self %}

 {% endblock css_head_self %}

</head>

{% block content %}

{% endblock content %}

