{% extends 'aluno/base.html' %}

{% block content %}

<div class="row">
  <div class="col-12">
    <h1 class="text-center">Registro de Classes</h1>
  </div>
</div>

<div id="classe" class="row mt-2 d-flex justify-content-around bg-body-secondary rounded-3">
  {% csrf_token %}
  <!--   <label class="btn btn-outline-success  m-3" for="success-outlined" title="Pesquisar"><i class="bi bi-search"></i>-->

  <div class="col-sm-2 p-3">
    <input type="number" id="serie" placeholder="Série" class="form-control formulario"
      aria-describedby="basic-addon1" />
  </div>
  <div class="col-sm-2 p-3">
    <input type="text" id="turma" placeholder="Turma" class="form-control formulario" aria-describedby="basic-addon1" />
  </div>
  <div class="col-sm-2 p-3">
    <select type="text" id="periodo" placeholder="Periodo" class="form-control formulario"
      aria-describedby="basic-addon1">
      {% for periodo in periodos %}
      <option value="{{periodo.0}}">{{periodo.1}}</option>

      {% endfor %}
    </select>
  </div>

  <div class="col-sm-2">
    <button id="gravar" class="btn btn-outline-dark m-3" title="Classe">
      Gravar
    </button>
  </div>
  <div class="col-sm-2">
    <button id="abrirQuadro" class="btn btn-outline-dark m-3" data-bs-toggle="modal"
      data-bs-target="#criarQuadroClasseModal" title="Quadro">
      Quadro
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12" id="corpoTabela">
    <!-- Tabela de Classes-->
     
  </div>
</div>

<!-- Modal Atualizar Registro-->
{% include "aluno/classe/partials/modal_atualizar.html" %}
<!-- Fim Modal Atualizar Registro-->

<!-- Modal Visualizar Matrículas-->
{% include "aluno/classe/partials/modal_visualizar.html" %}
<!-- Fim Visualizar Matrículas-->

<!-- Modal Criar Quadro de Classes-->
{% include "aluno/classe/partials/modal_quadro.html" %}
<!-- Fim Modal Atualizar Registro-->

{% endblock content %} {% load static %}


{% block script %}
<script type="text/javascript" src="{% static 'aluno/js/base.js' %}"></script>

<script type="text/javascript" src="{% static 'aluno/js/classe.js' %}"></script>


{% endblock script %}