{% extends 'aluno/base.html' %} {% block content %}
{% load static %}
<div class="row">
  <div class="col-12">
    <h1 class="text-center">Registro de Matrículas</h1>
  </div>
</div>

<div class="row mt-2 bg-body-secondary rounded-3">
  {% csrf_token %}
  <div class="col-sm-2 p-3">
    <select type="text" id="classes" placeholder="Classes" class="form-control formulario"
      aria-describedby="basic-addon1"></select>
  </div>

  <div class="col-sm-1 p-3">
    <button type="button" id="alfabetica" class="btn btn-outline-dark btn-lg">
      <i class="bi bi-sort-alpha-down"></i>
    </button>
  </div>

  {% include "aluno/matricula/partials/form_importar_matriculas.html" %}

  <div class='col-sm-1 p-3'> <button type="button" class="btn btn-outline-dark btn-lg matricular" data-bs-toggle="modal"
      data-bs-target="#matricularModal" title="Adicionar Matrícula">
      <i class="bi bi-journal-plus"></i>
  </div>

</div>

<div class="row mt-3">
  <div class="col-12">
    <table class="table table-hover table-responsive table-bordered table-success">
      <thead>
        <th class="text-center">Nº</th>
        <th>Nome</th>
        <th>Situação</th>
        <th class="text-center">Matrícula</th>
        <th class="text-center">Movimentação</th>

        <th class="text-center">Movimentar</th>
        <th class="text-center">Excluir</th>
      </thead>
      <tbody id="corpoTabela">
        <!-- Tabela dinâmica aparece aqui -->
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Movimentacao-->
{% include "aluno/matricula/partials/modal_remaneja.html" %}
<!-- Fim Modal Remanejar Matricula-->

<!-- Modal Matricula-->
{% include "aluno/matricula/partials/modal_dados_matricula.html" %}
<!-- Fim Modal Matricula -->

<script type="text/javascript" src="{% static 'aluno/js/base.js' %}"></script>
<script src="{% static 'aluno/js/matricula.js' %}"></script>

<script type="text/javascript">
    // Criamos um dicionário com as URLs resolvidas pelo Django
    const urlsMatricula = {
        carregar_matriculas: "{% url 'carregarmatriculas' %}",
        excluir_matricula: "{% url 'excluirmatricula' %}",
        carregar_classes: "{% url 'carregarclasses' %}",
        ordem_alfabetica: "{% url 'ordemalfabetica' %}",
        carregar_movimentacao: "{% url 'carregarmovimentacao' %}",
        carregar_remanejamento: "{% url 'carregarclassesremanejamento' %}",
        movimentar: "{% url 'movimentar' %}",
        baixar_declaracao: "{% url 'baixar_declaracao_matricula' %}",
        buscar_matricula: "{% url 'buscarmatricula' %}",
        upload_matriculas: "{% url 'uploadmatriculas' %}",
        // Para URLs que não possuem nome (path('buscarAluno')), use a string direta:
        buscar_aluno: "{% url 'buscaraluno' %}", 
        tela_matricular: "{% url 'telamatricular' %}",
        adicionar_na_classe: "{% url 'adicionarnaclasse' %}",
    };

    // Inicializa a lógica passando as URLs
    inicializarMatriculas(urlsMatricula);
</script>

{% endblock content %}