{% extends 'aluno/base.html' %} {% block content %}
{% load static %}
<div class="row">
  <div class="col-12">
    <h1 class="text-center">Registro de Matrículas</h1>
  </div>
</div>

<div class="row mt-2 bg-body-secondary rounded-3">
  {% csrf_token %}
  <div class="col-sm-2 p-3">
    <select type="text" id="classes" placeholder="Classes" class="form-control formulario"
      aria-describedby="basic-addon1"></select>
  </div>

  <div class="col-sm-1 p-3">
    <button type="button" id="alfabetica" class="btn btn-outline-dark btn-lg">
      <i class="bi bi-sort-alpha-down"></i>
    </button>
  </div>

  {% include "aluno/matricula/partials/form_importar_matriculas.html" %}

  <div class='col-sm-1 p-3'> <button type="button" class="btn btn-outline-dark btn-lg matricular" data-bs-toggle="modal"
      data-bs-target="#matricularModal" title="Adicionar Matrícula">
      <i class="bi bi-journal-plus"></i>
  </div>

</div>

<div class="row mt-3">
  <div class="col-12">
    <table class="table table-hover table-responsive table-bordered table-success">
      <thead>
        <th class="text-center">Nº</th>
        <th>Nome</th>
        <th>Situação</th>
        <th class="text-center">Matrícula</th>
        <th class="text-center">Movimentação</th>

        <th class="text-center">Movimentar</th>
        <th class="text-center">Excluir</th>
      </thead>
      <tbody id="corpoTabela">
        <!-- Tabela dinâmica aparece aqui -->
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Movimentacao-->
{% include "aluno/matricula/partials/modal_remaneja.html" %}
<!-- Fim Modal Remanejar Matricula-->

<!-- Modal Matricula-->
{% include "aluno/matricula/partials/modal_dados_matricula.html" %}
<!-- Fim Modal Matricula -->



{% endblock content %}

{% block script %}

<script type="text/javascript" src="{% static 'aluno/js/base.js' %}"></script>

<script src="{% static 'aluno/js/classe.js' %}"></script>

<script src="{% static 'aluno/js/matricula.js' %}"></script>


<script type="text/javascript">
  // Cria namespace global seguro
  window.urls = window.urls || {};

  window.urls.classe = window.urls.classe || {
    carregar_classe: "{% url 'carregarclasses' %}",
  };

  window.urls.matricula = window.urls.matricula || {
    carregar_matriculas: "{% url 'carregarmatriculas' %}",
    excluir_matricula: "{% url 'excluirmatricula' %}",
    carregar_classes: "{% url 'carregarclasses' %}",
    ordem_alfabetica: "{% url 'ordemalfabetica' %}",
    carregar_movimentacao: "{% url 'carregarmovimentacao' %}",
    carregar_remanejamento: "{% url 'carregarclassesremanejamento' %}",
    movimentar: "{% url 'movimentar' %}",
    baixar_declaracao: "{% url 'baixar_declaracao_matricula' %}",
    buscar_matricula: "{% url 'buscarmatricula' %}",
    upload_matriculas: "{% url 'uploadmatriculas' %}",
    buscar_aluno: "{% url 'buscaraluno' %}",
    tela_matricular: "{% url 'telamatricular' %}",
    adicionar_na_classe: "{% url 'adicionarnaclasse' %}",
  };


  // 1. Inicializa os objetos
  Classes.init(window.urls.classe);
  inicializarMatriculas(window.urls.matricula);

  // 2. Chama o carregamento apenas UMA vez usando o objeto global
  const ano = Classes.getAno();
  if (ano) {
    Classes.carregarClasses(ano);
  }

</script>


{% endblock script %}