{% extends 'aluno/base.html' %} {% block content %}

<div class="row">
  <div class="col-12">
    <h1 class="text-center">Registro de Matrículas</h1>
  </div>
</div>

<div class="row mt-2 bg-body-secondary rounded-3">
  {% csrf_token %}
  <div class="col-sm-2 p-3">
    <select type="text" id="classes" placeholder="Classes" class="form-control formulario"
      aria-describedby="basic-addon1"></select>
  </div>

  <div class="col-sm-1 p-3">
    <button type="button" id="alfabetica" class="btn btn-outline-dark btn-lg">
      <i class="bi bi-sort-alpha-down"></i>
    </button>
  </div>

  <div class="col-sm-4 p-3">
    <input class="form-control m-1" type="file" id="arquivoCSV" title="Entrada formatada para arquivo CSV do SED" />
  </div>
  <div class="col-sm-1 p-3">
    <button type="button" id="uploadMatriculas" class="btn btn-outline-dark btn-lg" hidden="true">
      <i class="bi bi-person-up"></i>
    </button>
  </div>
  <div class="col-sm-2 p-3">
    <input class="form-control m-1" type="date" id="dataMatricula" hidden="true" />
  </div>
  <div class='col-sm-2 p-3'> <button type="button" class="btn btn-outline-dark btn-lg matricular" data-bs-toggle="modal"
      data-bs-target="#matricularModal" title="Adicionar Matrícula">
      <i class="bi bi-journal-plus"></i>
  </div>
  </td>
</div>

<div class="row mt-3">
  <div class="col-12">
    <table class="table table-hover table-responsive table-bordered table-success">
      <thead>
        <th class="text-center">Nº</th>
        <th>Nome</th>
        <th>Situação</th>
        <th class="text-center">Matrícula</th>
        <th class="text-center">Movimentação</th>

        <th class="text-center">Movimentar</th>
        <th class="text-center">Excluir</th>
      </thead>
      <tbody id="corpoTabela">
        <!-- Tabela dinâmica aparece aqui -->
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Movimentacao-->
{% include "aluno/matricula/partials/modal_remaneja.html" %}
<!-- Fim Modal Remanejar Matricula-->

<!-- Modal Matricula-->
{% include "aluno/matricula/partials/modal_matricula.html" %}
<!-- Fim Modal Matricula -->

<script type="text/javascript">
  $(document).ready(() => {
    const csrftoken = document.querySelector(
      "[name=csrfmiddlewaretoken]"
    ).value;


    $("#selecaoClasse").hide();


    function exibirTelaMatricula(classe) {
      $.get({
        url: "telamatricular",
        data: {
          classe: classe,
        },
        success: (response) => {
          $("#serie").html(response.serie);
          $("#turma").html(response.turma);
          $("#periodo").html(response.periodo);
          $("#codClasseMatricula").val(response.cod_classe);
          $("#pesquisaAluno").off("keyup").on("keyup", function () {
            sendBuscar($(this).val(), localStorage.getItem("idAno"));
          });
        },
        fail: (response) => {
          alert("Erro na matrícula");
        },
      });
    }


    function adicionarNaClasse(aluno) {
      console.log($("#dataMatriculaIndividual").val());
      $.get({
        url: "adicionarNaClasse",
        data: {
          ano: localStorage.getItem("idAno"),
          classe: $("#codClasseMatricula").val(),
          aluno: aluno,
          data_matricula: $("#dataMatriculaIndividual").val(),
        },
        success: (response) => {
          $("#mensagensModal").html(response);
          setTimeout(function () {
            $("#mensagemModal").css("display", "none");
          }, 3000);
          carregarMatriculas($("#classes").val());

        },
        fail: (response) => { },
      });
    }

    function sendBuscar(nomeAluno, ano) {


      $.get({
        url: "buscarAluno",
        data: {
          nome: nomeAluno,
          ano: ano,
        },
        success: (response) => {
          $("#tabelaAlunos").html(response);
          $(".adicionarNaClasse").off("click");
          $(".adicionarNaClasse").click(function () {
            aluno = $(this).val();
            adicionarNaClasse(aluno);
            $(this).addClass("disabled");
          });

        },
      });
    }

    function carregarClassesRemanejamento(ano, serie) {
      $.get({
        url: "{% url 'carregarclassesremanejamento' %}",
        data: {
          ano: ano,
          serie: serie,
        },
        success: (response) => {
          $("#classesRemanejamento").html(response);
        },
        fail: () => { },
      });
    }
    $("#selecaoMovimentacao").change(() => {
      if ($("#selecaoMovimentacao").val() === "REMA") {
        carregarClassesRemanejamento(
          localStorage.getItem("idAno"),
          $("#classes").val()
        );
      }
    });
    function carregarClasses(ano) {
      $.get({
        url: "{% url 'carregarclasses' %}",
        data: {
          ano: ano,
        },
        success: (response) => {
        

          $("#classes").html(response);
          if (localStorage.getItem("ultimaClasse")) {
            $("#classes").val(localStorage.getItem("ultimaClasse"));
          }
        },
        fail: () => { },
      });
    }

    function excluirMatricula(matricula) {
      $.get({
        url: "{% url 'excluirmatricula' %}",
        data: {
          matricula: matricula,
        },
        success: (response) => {
          $("#mensagens").html(response);
          setTimeout(function () {
            $("#mensagem").css("display", "none");
          }, 3000);
          carregarMatriculas($("#classes").val());
        },
        fail: (response) => { },
      });
    }

    function recarregarContexto(response) {

      $("#corpoTabela").html(response);

      $(".movimentar").off("click");
      $(".movimentar").click(function () {
        matricula = $(this).val();
        buscarMatricula(matricula);
      });

      $(".excluir").off("click");
      $(".excluir").click(function () {
        matricula = $(this).val();
        excluirMatricula(matricula);
      });

      $(".matricular").off("click");
      $(".matricular").click(function () {
        classe = document.getElementById("classes").value;
        exibirTelaMatricula(classe);

      });



    }

    function retornarData() {
      let data = new Date();
      let dia = data.getDate();
      let mes = data.getMonth() + 1;
      let ano = data.getFullYear();
      if (mes < 10) mes = "0" + mes;
      if (dia < 10) dia = "0" + dia;
      let hoje = ano + "-" + mes + "-" + dia;
      return hoje;
    }

    function carregarMatriculas(classe) {
      $.get({
        url: "{% url 'carregarmatriculas' %}",
        data: {
          classe: classe,
        },
        success: (response) => {

          recarregarContexto(response);

        },
        fail: (response) => { },
      });
    }

    function ordemAlfabetica(classe) {
      $.get({
        url: "{% url 'ordemalfabetica' %}",
        data: {
          classe: classe,
        },
        success: (response) => {
          recarregarContexto(response);
        },
        fail: () => { },
      });
    }

    function sendMovimentar(matricula) {
      $.get({
        url: "{% url 'movimentar' %}",
        data: {
          matricula: matricula,
          data_movimentacao: $("#dataMovimentacao").val(),
          movimentacao: $("#selecaoMovimentacao").val(),
          classe_remanejamento: $("#classesRemanejamento").val(),
          ano: localStorage.getItem("idAno"),
        },
        success: (response) => {
          $("#mensagens").html(response);
          setTimeout(function () {
            $("#mensagem").css("display", "none");
          }, 3000);

          $("#selecaoClasse").hide();

          carregarMovimentacao();
          carregarMatriculas($("#classes").val());
          sendBaixarDeclaracao($("#rmAluno").val());
        },
        fail: (response) => { },
      });
    }

    function carregarMovimentacao() {
      $.get({
        url: "{% url 'carregarmovimentacao' %}",
        data: {},
        success: (response) => {
          $("#selecaoMovimentacao").html(response);
        },
        fail: (response) => { },
      });
    }

    function buscarMatricula(matricula) {
      $.get({
        url: "{% url 'buscarmatricula' %}",
        data: {
          matricula: matricula,
        },
        success: (response) => {
          $("#simDeletar").off("click");
          $("#simMovimentar").off("click");

          $("#dadosMatricula").html(response);
          $("#dadosMovimento").html(response);

          $("#simMovimentar").click(function () {
            sendMovimentar(matricula);
          });

          $("#dataMovimentacao").val(retornarData());

        },
        fail: (response) => { },
      });
    }

    carregarMovimentacao();

    carregarClasses(localStorage.getItem("idAno"));

    /*$("#salvarConfig").click(() => {
     
      carregarClasses(localStorage.getItem("idAno"));
    });*/

    /*bug as classes do ano anterior que são carregadas*/
    $("#configuracoesModal").on("hidden.bs.modal", function (e) {
     
      carregarClasses(localStorage.getItem("idAno"));
    });

    $("#classes").change(() => {
      carregarMatriculas($("#classes").val());
      localStorage.setItem('ultimaClasse', $("#classes").val());

    });


    $("#alfabetica").click(() => {
      ordemAlfabetica($("#classes").val());
    });

    $("#selecaoMovimentacao").change(function () {
      if ($(this).val() === "REMA") {
        $("#selecaoClasse").show();
      } else {
        $("#selecaoClasse").hide();
      }
    });

    $("#movimentarModal").on("hidden.bs.modal", function (e) {
      $("#selecaoClasse").hide();
      $("#selecaoMovimentacao").val(0);
  
    });

    $("#dataMatriculaIndividual").val(retornarData());

    function lerArquivoCSV(arquivo, callback) {
      const leitor = new FileReader();

      leitor.onload = function (evento) {
        const conteudo = evento.target.result;
        callback(conteudo);
      };

      leitor.readAsText(arquivo);
    }

    const inputArquivo = document.getElementById("arquivoCSV");
    let texto;

    inputArquivo.addEventListener("change", function (evento) {
      const arquivo = evento.target.files[0];

      lerArquivoCSV(arquivo, function (conteudo) {
        // Aqui você pode prosseguir para o próximo passo
        $("#uploadMatriculas").prop("hidden", false);
        $("#dataMatricula").prop("hidden", false);
        texto = conteudo;
      });
    });

    $("#uploadMatriculas").click(() => {
      sendMatriculas(texto);
    });

    if (localStorage.getItem("ultimaClasse")) {
      carregarMatriculas(localStorage.getItem("ultimaClasse"));
    }


    function sendMatriculas(matriculas) {
      console.log(texto);

      $.get({
        url: "{% url 'uploadmatriculas' %}",
        data: {
          matriculas: texto,
          classe: $("#classes").val(),
          ano: localStorage.getItem("idAno"),
          data_matricula: $("#dataMatricula").val(),
        },
        success: (response) => {
          recarregarContexto(response);
          $("#uploadMatriculas").prop("hidden", true);
          $("#dataMatricula").prop("hidden", true);
          $("#arquivoCSV").val("");
        },
        fail: (response) => { },
      });
    }

    function sendBaixarDeclaracao(rm) {
      $.post({
        url: "{% url 'baixar_declaracao_matricula' %}",
        // datatype: 'pdf',
        data: {
          rm: rm,
          nome_op: localStorage.getItem("nomeOperador"),
          cargo_op: localStorage.getItem("cargoOperador"),
          rg_op: localStorage.getItem("rgOperador"),
        },
        headers: {
          "X-CSRFToken": csrftoken,
        },
        success: (response) => {

          var blob = new Blob([response], { type: "application/pdf" });

          if (window.navigator && window.navigator.msSaveOrOpenBlob) {
            window.navigator.msSaveOrOpenBlob(blob); // for IE
          } else {
            var fileURL = URL.createObjectURL(blob);
            var newWin = window.open(fileURL);
            newWin.focus();
          }
        },
      });
    }
  });
</script>

{% endblock content %}