{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center">Cadastro de Instituições</h1>
    </div>
</div>

<div id="aluno" class="row mt-2 bg-body-secondary rounded-3">
    {% csrf_token %}
    <!--   <label class="btn btn-outline-success  m-3" for="success-outlined" title="Pesquisar"><i class="bi bi-search"></i>-->

    <div class="col-sm-6 p-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-white" id="basic-addon1"><i class="bi bi-search"></i></span>
            </div>
            <input type="text" name="descInstituicao" maxlength="100" class="form-control formulario"
                placeholder="Nome Instituição" aria-describedby="basic-addon1" required="" id="descInstituicao">
        </div>

    </div>

    <div class="col-sm-4 d-flex justify-content-center">
        <button id="gravar" class="btn btn-outline-dark m-3" title="Registrar Instituição">
            Gravar
        </button>

    </div>

</div>


<div class="row mt-3">
    <div class="col-12">
        <table class="table table-hover table-responsive table-bordered table-success">
            <thead></thead>
            <th class="text-center">Instituição</th>
            <th class="text-center">Atualizar</th>
            <th class="text-center">Excluir</th>

            </thead>
            <tbody id="corpoTabela">
                <!-- Tabela dinâmica aparece aqui -->
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(() => {
        const csrftoken = document.querySelector(
            "[name=csrfmiddlewaretoken]"
        ).value;

        function resetarElementos() {

            setTimeout(function () {
                $("#mensagem").css("display", "none");
            }, 3000);

            $("#descInstituicao").off().on("keyup", function () {
                pesquisarInstituicao($(this).val());
            });

            $(".excluir").off().on("click", function () {
                excluirInstituicao($(this).val());
            });


        }

        function carregarInstituicoes() {
            $.post({
                url: "{% url 'carregar_instituicoes' %}",
                headers: {
                    'X-CSRF-Token': csrftoken
                },
                data: {

                },
                success: (response) => {
                    $("#corpoTabela").html(response);

                    resetarElementos();
                },
                fail: (response) => {
                    alert("falhou");
                }
            });
        }

        function gravarInstituicao(instituicao) {

            $.post({
                url: "{% url 'gravar_instituicao' %}",
                headers: {
                    'X-CSRF-Token': csrftoken
                },
                data: {
                    instituicao: instituicao
                },
                success: (response) => {
                    $("#mensagens").html(response);

                    carregarInstituicoes();
                    
                },
                fail: (response) => {
                    alert("falhou");
                }
            });
        }

        function excluirInstituicao(instituicao) {
            $.post({
                url: "{% url 'excluir_instituicao' %}",
                headers: {
                    'X-CSRF-Token': csrftoken
                },
                data: {
                    instituicao: instituicao
                },
                success: (response) => {
                    $("#mensagens").html(response);
                    carregarInstituicoes()
                },
                fail: (response) => {
                    alert("falhou");
                }
            });
        }

        function pesquisarInstituicao(instituicao) {

            $.post({
                url: "{% url 'pesquisar_instituicao' %}",
                headers: {
                    'X-CSRF-Token': csrftoken
                },
                data: {
                    instituicao: instituicao
                },
                success: (response) => {
                    $("#corpoTabela").html(response);
                    
                    resetarElementos();
                },
                fail: (response) => {
                    alert("falhou");
                }
            });
        }

        $("#gravar").click(() => {
            gravarInstituicao($("#descInstituicao").val());
        });

        $("#descInstituicao").off().on("keyup", function () {
            pesquisarInstituicao($(this).val());
        });

        $(".excluir").click(() => {
            excluirInstituicao($(this).va());
        });

        carregarInstituicoes();

    });
</script>


{% endblock content %}