{% extends 'aluno/base.html' %} 

{% load static %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center">Cadastro dos Anos Letivos</h1>
    </div>
</div>

<div id="aluno" class="row mt-2 bg-body-secondary rounded-3">
    {% csrf_token %}
    <!--   <label class="btn btn-outline-success  m-3" for="success-outlined" title="Pesquisar"><i class="bi bi-search"></i>-->

    <div class="col-sm-6 p-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text bg-dark text-white" id="basic-addon1"><i class="bi bi-search"></i></span>
            </div>
            <input type="number" name="descAno" maxlength="100" class="form-control formulario" placeholder="Ano"
                aria-describedby="basic-addon1" required="" id="descAno">
        </div>
    </div>

    <div class="col-sm-4 d-flex justify-content-center">
        <button id="gravar" class="btn btn-outline-dark m-3" title="Registrar Ano">
            Gravar
        </button>
        <button id="buscar" class="btn btn-outline-dark m-3" title="Buscar Ano">
            Buscar
        </button>

    </div>

</div>


<div class="row mt-3">
    <div class="col-12">
        <table class="table table-hover table-responsive table-bordered table-success">
            <thead>
                <th class="text-center">Ano</th>
                <th class="text-center">Situação</th>
                <th class="text-center">Excluir</th>
            </thead>

            <tbody id="corpoTabela">
                <!-- Tabela dinâmica aparece aqui -->
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'aluno/js/base.js' %}"></script>

<script src="{% static 'aluno/js/ano.js' %}"></script>

<script type="text/javascript">
    // Criamos um dicionário com as URLs resolvidas pelo Django
    const urlsAno = {
        gravar_ano: "{% url 'gravar_ano' %}",
        excluir_ano: "{% url 'excluir_ano' %}",
        buscar_ano: "{% url 'buscar_ano' %}",
        listar_ano: "{% url 'listar_ano' %}",
        fechar_abrir_ano: "{% url 'fechar_abrir_ano' %}",
        status_ano: "{% url 'status_ano' %}",
        selecionar_ano: "{% url 'selecionar_ano' %}"
    };

    // Inicializa a lógica passando as URLs
    inicializarAnos(urlsAno);
</script>

{% endblock content %}