{% extends 'rh/menu.html' %}

{% block content %}
<form method="POST" class="was-validated">
    {% csrf_token %}
    <div class="row mb-3 bg-light p-4 rounded shadow">
        <div class="col-1">
            {{ form.tipo.label_tag}}
            {{ form.tipo}}

        </div>
        <div class="col-8">
            {{ form.descricao.label_tag }}
            {{ form.descricao }}

        </div>
        <div class="d-flex justify-content-center mt-4 col-2">
            <button class="btn btn-outline-dark">Gravar</button>
        </div>

    </div>



</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Sigla</th>
            <th scope="col">Descrição</th>
            <TH SCOPE="col" class="text-center">Atualizar</TH>

        </tr>
    </thead>
    <tbody>
        {% for falta in faltas %}
        <tr>
            <td>{{falta.tipo}}</td>
            <td>{{falta.descricao}}</td>
            <td class="text-center"><a class="btn btn-info"
                    href="{% url 'atualizarfaltas' falta.id %}?page={{ faltas.number }}"><span class="material-icons">
                        autorenew
                    </span></a></td>
        </tr>
        {% endfor %}
        </tr>
    </tbody>
</table>
<nav aria-label="Paginação do tipo de falta">

    <ul class="pagination justify-content-center">
        {% if faltas.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ faltas.previous_page_number }}">Anterior</a>
        </li>
        {% endif %}

        <li class="page-item ative">
            <span class="page-link">
                {{ faltas.number }} / {{ faltas.paginator.num_pages}}
            </span>
        </li>

        {% if faltas.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ faltas.next_page_number }}">Próximo</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock content %}