{% extends 'aluno/base.html' %}

{% block content %}
<style>
  input[type="checkbox"][name$="DELETE"] {
    display: none;
  }

  /* Linha marcada para remoção */
  .telefone-removido {
    opacity: 0.5;
    /* efeito visual de “desativado” */
    text-decoration: line-through;
    /* opcional */
  }
</style>
{% load static %}

<form id="cadastrarAluno" method="POST" action="{% url 'salvar_aluno' %}">
  {% csrf_token %}

  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Registro de Alunos</h1>
    </div>
  </div>

  <div id="aluno" class="row mt-2 bg-body-secondary rounded-3">

    <!-- Nome do Aluno (já com ícone) -->
    <div class="col-sm-6 p-3">
      <div class="input-group">
        <span class="input-group-text bg-dark text-white">
          <i class="bi bi-search"></i>
        </span>
        {{ form.nome }}
      </div>
    </div>

    <!-- RA (agora com ícone) -->
    <div class="col-sm-2 p-3">
      <div class="input-group">
        <span class="input-group-text bg-dark text-white">
          <i class="bi bi-card-text"></i>
        </span>
        {{ form.ra }}
      </div>
    </div>

    <!-- Botão Gravar -->
    <div class="col-sm-4">
      <button type="submit" class="btn btn-outline-dark m-3" title="Registrar Aluno" id="gravarAluno">
        Gravar
      </button>
    </div>

  </div>
</form>


<div class="row mt-3">
  <div class="col-12 table-responsive">
    <table id="tabela" class="table table-hover table-bordered table-success">
      <thead>
        <th>RM</th>
        <th>Nome</th>
        <th class="text-center">RA</th>
        <th class="text-center">Turma</th>
        <th class="text-center">Telefone</th>
        <th class="text-center">Histórico</th>
        <th class="text-center">Declaração</th>
        <th class="text-center">Status</th>

        <!--<th class="text-center"> IA Matrícula</th>-->

      </thead>
      <tbody id="corpoTabela">

        <!-- Tabela dinâmica aparece aqui -->
      </tbody>
    </table>
  </div>
</div>


<!-- Modal Histórico de Matrículas-->
<div id="containerModalHistorico"></div>

<!-- Fim Modal Histórico de Matrículas-->

<!-- Modal Atualizar Registro-->
{% include 'aluno/aluno/partials/modal_atualizar.html' %}
<!-- Fim Modal Atualizar Registro-->

<!-- Modal Relatório -->
{% include 'aluno/aluno/partials/modal_relatorio.html' %}
<!-- Final Modal Relatório-->

<!-- Modal Resolução de Duplicidade-->
{% include 'aluno/aluno/partials/modal_duplicidade.html' %}
<!-- Fim Modal Resolução de Duplicidade-->


<script type="text/javascript">


  $("#cadastrarAluno").on("submit", function (e) {
    e.preventDefault();

    $.post({
      url: $(this).attr("action"),
      data: $(this).serialize(),
      success: function (response) {

        // Mensagem
        Alunos.notificar(response.mensagem)

        if (response.success && response.html) {
          $("#corpoTabela").html(response.html);
        }

        // Limpa formulário
        if (response.success) {
          $("#cadastrarAluno")[0].reset();
          $("#id_nome").focus();
        }

        setTimeout(() => {
          $("#mensagens").fadeOut();
        }, 3000);
      }
    });
  });

  $(document).on("submit", "#atualizarAluno", function (e) {
    e.preventDefault();

    $.post({
      url: $(this).attr("action"),
      data: $(this).serialize(),
      success: (response) => {
        if (response.success) {
          $(".modal").modal("hide");
          $("#mensagens")
            .stop(true, true)
            .html(response.mensagem)
            .show();
          $("#mensagens").html(response.mensagem);
          setTimeout(() => {
            $("#mensagens").fadeOut(1000, function () {
              $(this).html("").show(); // limpa e prepara para próxima mensagem
            });
          }, 3000);
          Alunos.recarregarTabela();
        } else {
          $("#dadosAluno").html(response.html);
        }
      }
    });
  });

</script>


{% endblock content %}

{% block script %}
<script src="{% static 'aluno/js/base.js' %}"></script>

<script src="{% static 'aluno/js/aluno.js' %}"></script>
<script src="{% static 'aluno/js/relatorio.js' %}"></script>
<script src="{% static 'aluno/js/classe.js' %}"></script>
<script src="{% static 'aluno/js/telefone.js' %}"></script>
<script src="{% static 'aluno/js/historico_matricula.js' %}"></script>


<script type="text/javascript">

  window.urls = window.urls || {};

  window.urls.historico_matricula = window.urls.historico_matricula || {
    buscar_historico_matricula: "{% url 'buscar_historico_matricula' %}"
  }


  window.urls.classe = window.urls.classe || {
    carregar_classe: "{% url 'carregarclasses' %}",
  };



  window.urls.aluno = window.urls.aluno || {
    buscar_aluno: "{% url 'buscarDadosAluno' %}",
    cancelar_rm: "{% url 'cancelarRM' %}",
    buscar_cancelar: "{% url 'buscarRMCancelar' %}",
    recarregar_tabela: "{% url 'recarregarTabela' %}",
    pesquisar_aluno: "{% url 'pesquisar_aluno' %}",
  };

  window.urls.relatorio = window.urls.relatorio || {
    relatorio_rm: "{% url 'baixarpdf' %}",
    relatorio_personalizavel: "{% url 'alunos_personalizada' %}",
    declaracao_matricula: "{% url 'baixar_declaracao_matricula' %}",
    lista_telefonica: "{% url 'listatelefonicapdf' %}"
  };

  Relatorios.init(window.urls.relatorio);
  Alunos.init(window.urls.aluno);
  Classes.init(window.urls.classe);
  Telefones.init();
  HistoricosMatriculas.init(window.urls.historico_matricula);


  const ano = Classes.getAno();
  if (ano) {
    Classes.carregarClasses(ano);
  }


</script>



{% endblock script %}