{% extends 'aluno/base.html' %}

{% block content %}

{% load static %}

<form id="cadastrarAluno" method="POST" action="{% url 'salvar_aluno' %}">
  {% csrf_token %}

  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Registro de Alunos</h1>
    </div>
  </div>

  <div id="aluno" class="row mt-2 bg-body-secondary rounded-3">

    <div class="col-sm-6 p-3">
      <div class="input-group">
        <span class="input-group-text bg-dark text-white">
          <i class="bi bi-search"></i>
        </span>
        {{ form.nome }}
      </div>
    </div>

    <div class="col-sm-2 p-3">
      {{ form.ra }}
    </div>

    <div class="col-sm-4 d-flex justify-content-center">
      <button type="submit" class="btn btn-outline-dark m-3" title="Registrar Aluno" id="gravarAluno">
        Gravar
      </button>

      <button type="button" class="btn btn-outline-dark m-3" title="Gerar Relatório" data-bs-toggle="modal"
        data-bs-target="#relatorioModal">
        Relatório
      </button>

      <button type="button" class="btn btn-outline-primary m-3" title="Enviar Cópia para a Nuvem"
        style="display: none;">
        <i class="bi bi-cloud-arrow-up-fill"></i>
      </button>
    </div>

  </div>
</form>


<div class="row mt-3">
  <div class="col-12 table-responsive">
    <table id="tabela" class="table table-hover table-bordered table-success">
      <thead>
        <th>RM</th>
        <th>Nome</th>
        <th class="text-center">RA</th>
        <th class="text-center">Atualizar</th>
        <th class="text-center">Declaração</th>
        <th class="text-center">Status</th>
        <!--
        <th class="text-center"> IA Matrícula</th>
        -->
      </thead>
      <tbody id="corpoTabela">

        <!-- Tabela dinâmica aparece aqui -->
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Atualizar Registro-->
    {% include 'aluno/aluno/partials/modal_atualizar.html' %}
<!-- Fim Modal Atualizar Registro-->
 
<!-- Modal Relatório -->
    {% include 'aluno/aluno/partials/modal_relatorio.html' %}
<!-- Final Modal Relatório-->

<!-- Modal Resolução de Duplicidade-->
    {% include 'aluno/aluno/partials/modal_duplicidade.html' %}
<!-- Fim Modal Resolução de Duplicidade-->


<script type="text/javascript">
  $(document).ready(() => {

    // Rebind automático, usando elemento fixo que não muda com ajax
    $("#corpoTabela").on("click", ".declaracao", function () {
      sendBaixarDeclaracao($(this).val());
    });

    $("#corpoTabela").on("click", ".atualizar", function () {
      buscarAluno($(this).val());
    });

    $("#corpoTabela").on("click", ".advertencia", function () {
      buscarAlunoCancelar($(this).val());
    });

    // Chama a função ao digitar
    $("#id_nome").keyup(() => sendBuscar());

    $("#cadastrarAluno").on("submit", function (e) {
      e.preventDefault();

      $.post({
        url: $(this).attr("action"),
        data: $(this).serialize(),
        success: function (response) {

          // Mensagem
          $("#mensagens")
            .html(response.mensagem)
            .show();
            
          if (response.success && response.html) {
            $("#corpoTabela").html(response.html);
          }

          // Limpa formulário
          if (response.success) {
            $("#cadastrarAluno")[0].reset();
            $("#id_nome").focus();
          }

          setTimeout(() => {
            $("#mensagens").fadeOut();
          }, 3000);
        }
      });
    });

    $(document).on("submit", "#atualizarAluno", function (e) {
      e.preventDefault();

      $.post({
        url: $(this).attr("action"),
        data: $(this).serialize(),
        success: (response) => {
          if (response.success) {
            $(".modal").modal("hide");
            $("#mensagens")
              .stop(true, true)
              .html(response.mensagem)
              .show();
            $("#mensagens").html(response.mensagem);
            setTimeout(() => {
              $("#mensagens").fadeOut(1000, function () {
                $(this).html("").show(); // limpa e prepara para próxima mensagem
              });
            }, 3000);
            recarregarTabela();
          } else {
            $("#dadosAluno").html(response.html);
          }
        }
      });
    });

    $("#simCancelar").click(() => {
      sendCancelar($("#registroAluno").text());
    });

    $("#persorelatorio").on("change", function () {
      if ($("#persorelatorio:checked")) {
        $("#personalizavel").prop("hidden", false);
      }
    });

    $("#rmrelatorio").on("change", function () {
      if ($("#rmrelatorio:checked")) {
        $("#personalizavel").prop("hidden", true);
      }
    });

    $("#telrelatorio").on("change", function () {
      if ($("#telrelatorio:checked")) {
        $("#personalizavel").prop("hidden", true);
      }
    });

    $("#baixarpdf").click(() => {
      if ($("#rmrelatorio").is(":checked")) {
        sendBaixarPdf($("#id_rmi").val(), $("#id_rmf").val());
      } else if ($("#telrelatorio").is(":checked")) {
        sendBaixarListaTelefonica($("#classes").val());
      } else if ($("#persorelatorio").is(":checked")) {
        sendBaixarListaPersonalizavel($("#classes").val());
      }
    });
    $("#bkp").click(() => sendBkp());

    function carregarClasses(ano) {
      $.get({
        url: "{% url 'carregarclasses' %}",
        data: {
          ano: ano,
        },
        success: (response) => {
          $("#classes").html(response);
        },
        fail: () => { },
      });
    }

    $("#relatorio").click(() => {
      carregarClasses(localStorage.getItem("idAno"));
    });

    recarregarTabela();

  });

  function configurarElementos(response) {
    $("#mensagens").html(response);
    setTimeout(function () {
      $("#mensagem").css("display", "none");
    }, 3000);
    $("#id_nome").val("");
    $("#id_ra").prop("value", null);
    $("#id_nome").focus();
    $("#success-outlined").prop("checked", true);
    $("#id_nome").prop("value", "");
    recarregarTabela();
  }
  
  function carregarClasses(ano) {
      $.get({
        url: "{% url 'carregarclasses' %}",
        data: {
          ano: ano,
        },
        success: (response) => {
          $("#classes").html(response);
        },
        fail: () => { },
      });
    }

</script>

<div id="urls" data-buscar-aluno="{% url 'buscarDadosAluno' %}" 
  data-cancelar-rm="{% url 'cancelarRM' %}"
  data-buscar-cancelar="{% url 'buscarRMCancelar' %}" 
  data-recarregar-tabela="{% url 'recarregarTabela' %}"
  data-pesquisar-aluno="{% url 'pesquisar_aluno' %}" 
  data-relatorio-rm="{% url 'baixarpdf' %}"
  data-relatorio-personalizavel="{% url 'listapersonalizavelpdf' %}"
  data-declaracao-matricula="{% url 'baixar_declaracao_matricula' %}"
  data-lista-telefonica="{% url 'baixar_declaracao_matricula' %}">

</div>

<script src="{% static 'aluno/js/base.js' %}"></script>

{% block script %}
<script src="{% static 'aluno/js/aluno.js' %}"></script>
<script src="{% static 'aluno/js/relatorio.js' %}"></script>

{% endblock script %}

{% endblock content %}